<div id="content">

  <p id="notice"><%= notice %></p>

  <h2>
    <%= @post.title %>
  </h2>

  <br />
  <p>
    <b>Published at:</b>
    <%= @post.published_at %>
  </p>

  <p>
    <%= sanitize(render_markdown(@post.body)) %>
  </p>

  <p>
    <% @post.tags.any? %>
      Tags: 
      <% @post.tags.each do |tag| %>
      <%= link_to tag.name, tagged_url(:tag => tag.name) %>
    <% end %>
  </p>

  <% if session[:user_id] %>
  <%= link_to 'Edit', edit_post_path(@post) %> |
  <% end %>
  <% if session[:user_id] %>
  <%= link_to 'Back', posts_path %>
  <% else %>
  <%= link_to 'Back', blog_path %>
  <% end %>

</div><!-- eof content -->