<!DOCTYPE html>
<html>
<head>
  <title>Blog</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body class='<%= controller.controller_name %>'>

  <div id="wrapper">
    <div id="header">
      <h1>&#91;&nbsp;freebl&#246;g&nbsp;&#93;</h1>
    </div><!-- eof header -->
    
    <div id="leftcol">
      <ul id="nav">
        <li><%= link_to 'Blog Home', blog_path %></li>
        <% if session[:user_id] %>
        <li><%= link_to 'Manage Posts', posts_path %></li>
        <li><%= link_to 'Manage Editors', users_path %></li>
        <li><%= link_to 'Logout', logout_path, method: :delete %></li>
        <% else %>
        <li><%= link_to 'Editor Login', login_path %></li>
        <% end %>
      </ul>
    </div><!-- eof leftcol -->
    
    <div id="rightcol">
      <%= yield %>
    </div><!-- eof rightcol -->
  </div>

  <div id="footer">
    <div id="footer_text">Thanks for visiting.</div>
  </div><!-- eof footer -->
</body>
</html>
